<script src="/js/jquery.min.js">
</script>
<script src="/js/bootstrap.min.js">
</script>

<div id="footer">
    <div class="container">
        <p class="muted credit">Footer courtesy <a href="#">Lino Catucci</a></p>
    </div>
</div>

</body>

</html>