<h1>Secret page</h1>

<p>You found me!</p>
<img src="https://thumb7.shutterstock.com/display_pic_with_logo/436114/133923731/stock-photo-top-secret-stamp-133923731.jpg"
    alt="">

<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>